table {
	margin: auto;
}

input {
	height: 50px;
	width: 53px;
	text-align: center;
	font-size: 1.75rem;
	font-weight: 600;
	border: 2px solid #d3d6da;
	text-transform: uppercase;
	margin: 1px;
}

input:read-only {
	color: white;
}

button {
	height: 50px;
	width: 75px;
	margin-top: 4.5px;
	color: black;
	background-color: lightgrey;
	font-size: 1.5rem;
}

button:disabled {
	background-color: #cccccc;
	cursor: not-allowed;
}

header {
	font-size: 75px;
	text-align: center;
}

html {
	overflow: hidden;
}

.App {
	background-color: azure; 
}

.bottom {
	display: block;
	text-align: center;
	font-size: 25px;
}

.settings {
	padding-left: 5px;
	padding-top: 10px;
	font-size: 25px;
}

.dark {
	background-color: #121213;
	border: 2px solid #3a3a3c;
	color: rgb(250, 250, 250);
}

.darkModeCheckbox {
	height: 25px;
	width: 25px
}